/* The background colour of the header must be #222.
It should have a height of 36px.
It must have padding from the top of 8px, bottom of 8px, right of 32px and left of 16px. */

/* t should have the background colour #ff7f7f.

It should have a height of 35px.

It should rotate infinitely with a complete cycle of 8 seconds, and the speed curve of the animation should be linear.

It should be on the left of the header. */
.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotate 8s linear infinite;
}
@keyframes rotate{
100% {
    transform: rotate(360deg);
}
}

